@{
    ViewBag.Title = "Grande Travel";
    ViewBag.Keywords = "";
    ViewBag.Description = "";
}

<div id="largeCarousel" class="carousel slide largeCarousel" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="../../Images/Site/Sculptures.jpg" alt="" />
        </div>

        <div class="item">
            <img src="../../Images/Site/Jetty.jpg" alt="" />
        </div>

        <div class="item">
            <img src="../../Images/Site/Horse.jpg" alt="" />
        </div>

        <div class="item">
            <img src="../../Images/Site/SydneyHarbour.jpg" alt="" />
        </div>

        <div class="item">
            <img src="../../Images/Site/Supercar.jpg" alt="" />
        </div>
    </div>

    <a class="left carousel-control" href="#largeCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#largeCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>

<div id="features">
    <div class="container">

        <article class="row feature">
            <div class="col-sm-6 feature-image">
                <img src="../../Images/Packages/Ballooning.jpg" alt="" class="img-responsive" />
            </div>

            <div class="col-sm-6 info">
                <h3>About Us</h3>
                <p>Grande Travel sells packages from Australia's best travel providers, giving travellers Australia's best package travel deals.</p>
                <p>From adventure holidays to beach resorts, ski holidays, V8 supercar events, and much, much more, Grande Travel has a package to suit your needs and budget.</p>
                <p>We offer genuine advice and experience, flexibility, reliable service and support.</p>
            </div>
        </article>

        <article class="row feature">
            <div class="col-sm-6 pic-right feature-image">
                <img src="../../Images/Packages/OperaOnSydneyHarbour.jpg" alt="" class="pull-right img-responsive" />
            </div>

            <div class="col-sm-6 info info-left">
                <h3>Our Goals</h3>
                <p>Our purpose is to provide our travellers with affordable and attainable package deals, and to provide an outlet for leading travel providers to sell quality package deals.</p>
                <p>We want to be able deliver great deals for everyone. We know our customers expect the best value, quality, information, assistance and advice.</p>
            </div>
        </article>

    </div>
</div>



