@{
    ViewBag.Title = "Grande Travel";
    ViewBag.Keywords = "";
    ViewBag.Description = "";
}

@section styles {
    <link href="../../Content/site/index.css" rel="stylesheet" />
}

<div id="largeCarousel" class="carousel slide largeCarousel" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Images/Site/c1.jpg" />
        </div>

        <div class="item">
            <img src="~/Images/Site/c2.jpg" />
        </div>

        <div class="item">
            <img src="~/Images/Site/c3.jpg" />
        </div>

        <div class="item">
            <img src="~/Images/Site/c4.jpg" />
        </div>

        <div class="item">
            <img src="~/Images/Site/c5.jpg" />
        </div>
    </div>

    <a class="left carousel-control" href="#largeCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#largeCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>

<div id="features">
    <section class="container">

        <article class="row feature">
            <div class="col-sm-3 feature-image">
                <img src="../../Images/Packages/Ballooning.jpg" alt="" class="img-responsive" />
            </div>

            <div class="col-sm-6 info">
                <h3>About Us</h3>
                <p>Grande Travel sells packages from Australia's best travel providers, giving travellers Australia's best package travel deals.</p>
                <p>From adventure holidays to beach resorts, ski holidays, V8 supercar events, and much, much more, Grande Travel has a package to suit your needs and budget.</p>
                <p>We offer genuine advice and experience, flexibility, reliable service and support.</p>
            </div>

            <div class="col-sm-3 pic-right feature-image">
                <img src="~/Images/Packages/AustralianGrandPrix.jpg" alt="" class="pull-right img-responsive" />
            </div>
        </article>

        <article class="row feature">
            <div class="col-sm-3 feature-image">
                <img src="~/Images/Packages/TalbotBay.jpg" class="img-responsive" />
            </div>

            <div class="col-sm-6 info">
                <h3>Our Goals</h3>
                <p>Our purpose is to provide our travellers with affordable and attainable package deals, and to provide an outlet for leading travel providers to sell quality package deals.</p>
                <p>We want to be able deliver great deals for everyone. We know our customers expect the best value, quality, information, assistance and advice.</p>
            </div>

            <div class="col-sm-3 pic-right feature-image">
                <img src="../../Images/Packages/OperaOnSydneyHarbour.jpg" alt="" class="pull-right img-responsive" />
            </div>
        </article>

    </section>

    <section class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Facebook -->
                <div id="fb-root"></div>
                <script>
                    (function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s); js.id = id;
                        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));</script>

                <div class="fb-like" data-href="https://www.facebook.com/pages/Grande-Travel/1481487735421863?skip_nax_wizard=true&amp;ref_type"
                     data-layout="button" data-action="like" data-show-faces="false" data-share="false" style="width: 100px; height: 100px;"></div>
   
                <!-- Twitter -->
                <a href="https://twitter.com/GrandeTraveller"
                   class="twitter-follow-button"
                   data-show-count="false"
                   data-size="small"
                   data-dnt="true">Follow GrandeTraveller</a>
                <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
            </div>
        </div>
    </section>

</div>
