/*Alterations*/
input#txtSearch
{
    float: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

button#btnSearch
{
    color: white;
}

#filterHeading
{
    color: #646464;
}

#sectionSearchLocation
{
    margin-left: 5px;
}

#imgPackage {
    max-width: 350px;
    margin: 0 10px 10px; 
}

/*Change modal window responsive width*/
@media (max-width: 767px)
{
    .modal-dialog.large
    {
        width: 90%;
    }

    #imgPackage
    {
        display: none;
    }
}

@media (min-width: 768px)
{
    .modal-dialog.large
    {
        width: 70%;
    }
}

/*Clear Canvas*/
#packages
{
    margin-top: 60px;
}

    #packages #filters
    {
        list-style-type: none;
        height: 30px;
        margin-bottom: 40px;
        text-align: center;
        margin-top: -20px;
    }

        #packages #filters li
        {
            display: inline-block;
            font-size: 20px;
            margin: 0px 6px;
        }

            #packages #filters li.separator
            {
                color: #c0c0c0;
                font-weight: lighter;
            }

            #packages #filters li a
            {
                color: #3f3f3f;
                font-style: italic;
                -webkit-transition: color .2s;
                -moz-transition: color .2s;
                -ms-transition: color .2s;
                transition: color .2s;
            }

                #packages #filters li a:hover, #packages #filters li a.active
                {
                    color: #1189d9;
                }

    #packages #gallery_container
    {
        margin-bottom: 50px;
    }

        #packages #gallery_container .photo
        {
            width: 285px;
            margin: 5px;
            float: left;
            position: relative;
        }

            #packages #gallery_container .photo:hover .mask
            {
                display: block;
                opacity: 1;
                filter: alpha(opacity=100);
            }

            #packages #gallery_container .photo .mask
            {
                position: absolute;
                opacity: 0;
                filter: alpha(opacity=0);
                box-shadow: 0px 1px 6px 2px #b1b1b1;
                top: 0px;
                left: 0px;
                border-radius: 5px;
                height: 100%;
                padding: 0px 20px;
                width: 100%;
                background: rgba(17, 137, 217, 0.5);
                -webkit-transition: opacity .25s ease-in-out;
                -moz-transition: opacity .25s ease-in-out;
                transition: opacity .25s ease-in-out;
            }

                #packages #gallery_container .photo .mask h3
                {
                    color: #fff;
                    font-size: 22px;
                    position: relative;
                    top: 39%;
                }

                #packages #gallery_container .photo .mask small
                {
                    color: #f0f0f0;
                    font-size: 15px;
                    font-style: italic;
                    position: relative;
                    top: 35%;
                    display: block;
                }

                #packages #gallery_container .photo .mask .more
                {
                    color: #fff;
                    font-size: 30px;
                    font-weight: bold;
                    position: absolute;
                    bottom: 7%;
                    left: 47%;
                }

/* Responsive
-------------------------------------------------- */
@media (max-width: 480px)
{
    #packages #filters li
    {
        margin: 0px 4px;
    }

        #packages #filters li a
        {
            font-size: 18px;
        }

    #packages #gallery_container .photo
    {
        margin-left: 35px;
    }

        #packages #gallery_container .photo img
        {
            left: 10%;
        }
}
