@section styles {
    @Styles.Render("~/Content/site/theme.css")
}

<section class="container">
    <div class="row">
        <div class="col-md-12 error-page">
            <div class="text-center error-message">
                <p>Sorry, an error occurred while processing your request.</p>
            </div>
        </div>
    </div>
</section>
